name: Build Ansible Collection

on:
  push:
    tags:
      - '*'

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - run: sudo apt update -y
      - run: sudo apt install python3-virtualenv make -y

      - name: "add version to galaxy colection"
        run: sed -i -e "s/{{ TAG-VERSION }}/$VERSION/g" ansible-plugin/ws/galaxy.yml

      - name: "check galaxy colection"
        run: cat ansible-plugin/ws/galaxy.yml

      - name: "create virtualenv"
        run: make venv

      - name: "build galaxy omprog"
        run: make build

      - name: "build galaxy omprog"
        run: make publish token=$TOKEN_GALAXY

env:
  TOKEN_GALAXY: ${{ secrets.TOKEN_GALAXY }}
  RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
